*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* --------------------------------------Navigation--------------------------------------------------- */


.navbar-brand{
    cursor: pointer;
    font-size: 30px;
    margin-left: 30px;
  
}
#navid ul li{
    padding:0px 20px;
}
#navid ul li:hover{
    background-color: #b2bec3;
    box-shadow:1px 2px 10px 1px grey;
    border:none;
    display: block;
}

/* ------------------------------------------Image--------------------------------------- */

.image{
    
    width: 100%;
    height: 100vh;
    background-size:cover;
    /* background-attachment: fixed; */
}
.image .img{
    background-image:url('1.jpg');
    width: 100%;
    height: 100vh;
    background-size:cover;
    position: absolute;
    z-index: -20;
    filter: contrast(30%);
    background-attachment: fixed;

}

/* .bt1{
  margin-right: 20px;
  margin-bottom: 20px;
  background-color:#111;
  color:#fff;
  padding: 7px 25px;
}
.bt1:hover{
    background:transparent;
    color:#fff;
    border-color:#fff;
    font-weight: 700;
    font-size: 17px;
    transition: 0.7s linear ;
    border-radius:15px;
}
.bt2{
    margin-right: 20px;
    margin-bottom: 20px;
    background-color:#111;
    color:#fff;
    padding: 7px 45px;
  }
  .bt2:hover{
      background:transparent;
      color:#fff;
      border-color:#fff;
      font-weight: 700;
      font-size: 17px;
      transition: 0.7s linear ;
    border-radius:15px;

  } */
  .bt3{
    margin-right: 20px;
   margin-top: 100px;
    background-color:#111;
    color:#fff;
    padding: 7px 35px;
    font-size: 17px;
    font-weight: 700;
    
  }
  .bt3:hover{
      background:transparent;
      color:#fff;
      border-color:#fff;
      font-weight: 700;
      font-size: 17px;
      transition: 0.5s linear ;
    border-radius:15px;

  }


  @media only screen and (max-width:769px){
      .image{
          height: 145vh;
      }
      .image .img{
          height: 142vh;
      }
  }



 

  /*-------------------------------------------Footer-----------------------------*/
.content-box-4{
    width: 100%;
    height: 100vh;
    background-color:#111;
    padding-top: 100px;
}
.footer h2,p,h3{
    color: #fff;
    line-height: 40px;
}
.content-box-4 h1{
    color: #fff;
    text-align: center;
}
.content-box-4 h1::after{
content: '';
width: 170px;
height: 3px;
background-color:red;
display: block;
margin: 20px auto 50px;
}

}

@media only screen and (max-width:775px){
    .content-box-4{
        height: 600vh;
        background-color:#111;
    }
    .content-box-4 .icon{
       padding-top: 30px;
    }
} 
 @media only screen and (max-width:770px){
 .content-box-4{
        height: 130vh;
        background-color:#111;
    }
     .content-box-4 .icon{
       padding-top: 30px;
    } 
}  
 @media only screen and (max-width:576px){
 .content-box-4{
        height: 200vh;
        background-color:#111;
    } 
    .content-box-4 .icon{
       padding-top: 30px;
    }
}


/* ---------------------------------------- Social Media-----------------------------*/ 
.content-box-3{
    width: 100%;
    height: 1vh;
    background-color: #111;
    padding-bottom: 70px;
    
}
.content-box-3 .icon{
    color: #fff;
}
.content-box-3 .icon a{
    padding-right: 0px;
    font-size: 40px;
    text-align: center;
    position: relative;
    left: 30%;
    padding-left:30px ;
   
}
@media only screen and (max-width:600px){
    .content-box-3 .icon a{
        position: relative;
        left: 10%;
    }
}
@media only screen and (max-width:993px){
    .content-box-3 {
        padding-top: 10px;
    }
}

@media only screen and (max-width:575px){
    .content-box-3{
        padding-top: 100px;
    }
}